{% extends "account/base.html" %}

{% block content %}
<div class="text-white">
<h1>Регистрация</h1>

<p>Уже зарегистрированы? <a class="btn-outline-info" href="{{ login_url }}">Войти</a></p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-info text-uppercase" type="submit">Зарегистрироваться</button>
</form>
</div>
{% endblock %}
