{% extends 'index.html' %}

{% block title %}
<h1>Удаление поста</h1>
{% endblock title %}
 
{% block content %}
    <h1>Вы действительно хотите удалить этот пост?</h1>
    <hr>
        <div>
            <h2>{{post.title}}</a></h2>
            <p><i>{{post.date|date:'d M Y'}}</i></p>
            <h4>{{post.text|truncatechars:50}}</h4>
        </div>
    <form method="POST">
    {% csrf_token %}
    <div class="d-flex justify-content-center mb-4"><input class="btn btn-danger text-uppercase" type="submit" value="Удалить"></div>
    </form>
{% endblock content %}