{% extends 'index.html' %}

{% block content %}
    <a class="btn btn-warning text-uppercase" href="{% url 'post_list' %}">Список объявлений</a> 
    <hr>
    <!-- Post preview-->
    <div class="post-preview">
    <i>{{ post.date|date:'d M Y' }}</i> 
    <h2 class="post-title"><a class="text-white" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
    <h4 class="post-subtitle text-white">{{ post.text|safe }}</h4>
    <p class="post-meta">
        Автор: {{post.author}}<br>
        Категория: {{post.get_category_display}}
    </p>
    <p class="post-meta">
        <a class="btn-outline-danger" href="{% url 'post_delete' post.pk %}">Удалить</a>
        <a class="btn-outline-info" href="{% url 'post_edit' post.pk %}">Изменить</a>
        <a class="btn-outline-warning" href="{% url 'response_add' post.pk %}">Откликнуться</a>
    </p>
    </div>
    <hr>
    <h4 class="text-white-50">Отклики:</h4>
    {% if response %}
    {% for response in response.all %}
    <div class="post-preview">
        <h4 class="text-white">{{response.author}} от {{response.date}}</h4>
        <h5 class="text-white">{{response.text}}</h5>
        <p><a class="btn-outline-danger" href="{% url 'response_delete' response.pk %}">Удалить</a></p>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-white">нет откликов</p>
    {% endif %}
{% endblock content %}