{% extends 'index.html' %}

{% block title %}
Удаление отклика
{% endblock title %}
 
{% block content %}
<div class="text-white">
    <h3>Вы действительно хотите удалить этот отклик?</h3>
    <hr>
        <div>
            <h2>{{response.author}}</a></h2>
            <p><i>{{response.date|date:'d M Y'}}</i></p>
            <h4>{{response.text|truncatechars:50}}</h4>
        </div>
    <form method="POST">
    {% csrf_token %}
    <p><input class="btn btn-danger text-uppercase" type="submit" value="Удалить">
    </form>
</div>
{% endblock content %}